<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
    {{ $opts := dict "transpiler" "dartsass" }}
    {{ $style := resources.Get "scss/style.scss" | toCSS $opts }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ with resources.Get "js/main.js" }}
      <script src="{{ .RelPermalink }}"></script>
    {{ end }}
    {{ with resources.Get "js/carousel.js" }}
      <script src="{{ .RelPermalink }}"></script>
    {{ end }}
  </head>
  <body>
    {{ block "header" . }} {{ partial "navbar" }} {{ end }}
    <main>{{ block "main" . }}{{ end }}</main>
    {{ block "footer" . }} {{ partial "footer" }} {{ end }}
  </body>
</html>
