<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
    {{ $opts := dict "transpiler" "dartsass" "outputStyle" "compressed" }}
    {{ $style := resources.Get "scss/style.scss" | toCSS $opts | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ with resources.Get "js/main.js" }}
      {{ $jsOpts := dict "minify" true "targetPath" "js/main.js" }}
      {{ $js := . | js.Build $jsOpts | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ end }}
    {{ with resources.Get "js/carousel.js" }}
      {{ $jsOpts := dict "minify" true "targetPath" "js/carousel.js" }}
      {{ $js := . | js.Build $jsOpts | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ end }}
    {{ with resources.Get "js/gallery-lightbox.js" }}
      {{ $opts := dict "minify" true "targetPath" "js/gallery-lightbox.js" }}
      {{ $bundle := . | js.Build $opts | fingerprint }}
      <script src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" defer></script>
    {{ end }}
  </head>
  <body data-base="{{ "" | relURL }}">
    {{ block "header" . }} {{ partial "navbar" }} {{ end }}
    <main>{{ block "main" . }}{{ end }}</main>
    {{ block "footer" . }} {{ partial "footer" }} {{ end }}
  </body>
</html>
