<div class="card has-background-grey-lighter customer-card">
  <div class="card-content">
    <p class="customer-comment is-size-5 has-text-weight-light">
      <span class="is-size-4">&ldquo;</span>
        {{ .phrase }}
      <span class="is-size-4">&bdquo;</span>
    </p>
    <p class="subtitle">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            {{ partial "responsive_image" (dict
              "src"     .image
              "alt"     .author
              "class"   "is-rounded"
              "widths"  (slice 48 96 144)
              "sizes"   "48px"
              "loading" "lazy"
            ) }}
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-size-5 has-text-weight-bold">{{ .author }}</p>
          <p class="subtitle is-size-6 mt-1">{{ .role }} </p>
        </div>
      </div>
    </p>
  </div>
</div>
