<span id="noi"></span>
<section style="padding-top: 3rem">
  <p class="mb-6 mt-6 pt-6 is-size-1 is-size-3-mobile has-text-weight-extrabold condensed is-uppercase">
    Chi siamo.
  </p>
  <div class="fixed-grid has-12-cols">
    <div class="grid">
      <div class="cell is-col-span-4-desktop is-col-span-12-tablet is-col-span-12-mobile">
        <div class="media pt-2">
          <div class="media-left">
            <figure class="image is-128x128 mr-1 mb-1">
              <img src="/images/paolo-maggi.png" class="is-rounded sat-0 founder-image" alt="Paolo Maggi" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 has-text-weight-normal">Paolo Maggi</p>
            <p class="subtitle is-5 pt-2">fondatore</p>
          </div>
        </div>
      </div>

      <div class="cell pl-4 is-col-span-8-desktop is-col-span-12-tablet is-col-span-12-mobile">
        <p class="is-size-4 has-text-white has-text-weight-bold mb-2">
          Orama Studio è un centro di produzione video.
        </p>
        <p class="is-size-5">
          Fondato nel 2011, con sede a Roma e attivo nel circuito del cinema indipendente, si distingue per
          un approccio che fonde metodo cinematografico, cura artigianale e sensibilità visiva per la
          creazione di contenuti in grado di restituire la visione del cliente in modo autentico e
          riconoscibile.
        </p>
        <p class="is-size-5"></p>
      </div>
    </div>
  </div>
</section>
