<p class="anchor" id="noi"></p>
<section class="has-background-black p-3 pt-6 pb-0">
  <div class="fixed-grid has-12-cols">
    <div class="grid">
      <div class="cell has-background-black-ter is-col-span-3-desktop is-col-span-12-tablet is-col-span-12-mobile pl-3 pr-3 mb-3">
        <div class="has-text-centered p-4">
            <figure class="image is-128x128" style="margin: 0 auto 1.6rem auto;">
              <img src="{{ "images/paolo-maggi.png" | relURL }}" class="is-rounded sat-0 founder-image" alt="Paolo Maggi" />
            </figure>
            <p class="title is-size-5 has-text-white has-text-weight-bold">Paolo Maggi</p>
            <p class="subtitle is-size-6 pt-2">fondatore</p>
        </div>
      </div>

      <div class="cell is-col-span-9-desktop is-col-span-12-tablet is-col-span-12-mobile company-desc">
        <p class="is-size-5 has-text-white has-text-weight-bold mb-2">
          Orama Studio è un centro di produzione video.
        </p>
        <p class="is-size-5">
          Fondato nel 2011, ha sede a Roma e opera su tutto il territorio nazionale.
          Attivo nel circuito del cinema indipendente, si distingue per un approccio che fonde metodo
          cinematografico, cura artigianale e sensibilità visiva per la creazione di contenuti in grado
          di restituire la visione del cliente in modo autentico e riconoscibile.
        </p>
        <p class="is-size-5"></p>
      </div>
    </div>
  </div>
</section>
