<footer class="footer is-dark mt-6">
  <div class="has-text-centered social-links">
    <a href="https://www.facebook.com/oramaproduzioni" target="_blank" title="Facebook icon">
      <i class="bi bi-facebook mr-5 is-size-4"></i>
    </a>
    <a href="https://www.instagram.com/oramastudio.it/" target="_blank" title="Instagram icon">
      <i class="bi bi-instagram mr-5 is-size-4"></i>
    </a>
    <a href="https://www.linkedin.com/in/paolo-maggi-61129729/" target="_blank" title="LinkedIn icon">
      <i class="bi bi-linkedin mr-5 is-size-4"></i>
    </a>
    <a href="https://www.youtube.com/@OramaProduzioni" target="_blank" title="YouTube icon">
      <i class="bi bi-youtube mr-5 is-size-4"></i>
    </a>
    <a href="https://vimeo.com/oramaproduzioni" target="_blank" title="Vimeo icon">
      <i class="bi bi-vimeo mr-5 is-size-4"></i>
    </a>
    <a href="mailto:info@oramastudio.com" target="_blank" title="Email icon">
      <i class="bi bi-envelope-at-fill is-size-4"></i>
    </a>
  </div>

  <div class="block has-text-centered is-size-6">
    <p>
      Orama di Paolo Maggi <span class="pl-2 pr-2">⚉</span> via Vincenzo Menasi, 19 &mdash; 00172 Roma
      <span class="pl-2 pr-2">⚉</span> P.IVA 01703980498
    </p>
    <p class="mt-2">
      <i class="bi bi-telephone-fill mr-2"></i><a href="tel:+393407272869">+39 340 727 2869</a>
    </p>
    <p class="mt-6 has-text-white is-size-6">copyright &copy; 2026 Orama Studio</p>
  </div>
</footer>
