<section class=" method-section">
  <p class="is-size-2 mt-6 mb-6 lh-0 has-text-centered o-50 is-clearfix">&#10070;</p>
  <p class="is-size-3 p-3 is-size-4-mobile section-subtitle method-subtitle">
    Qualunque sia la tua visione, il metodo resta lo stesso: cura artigianale, precisione tecnica e
    sensibilità cinematografica
    <a href="{{ "phases" | relURL }}" class="has-text-weight-bold has-text-warning is-underlined js-modal-trigger">
      in ogni fase del lavoro.
    </a>
  </p>
</section>
<p class="is-size-2 has-text-centered o-50">&#10070;</p>
