<section class="method-section">
  <p class="is-size-2 mt-1 mb-6 lh-0 has-text-centered o-50 is-clearfix">&#10070;</p>
  <p
    class="is-size-2 is-size-3-mobile mt-6 lh-2 has-text-grey-light has-text-weight-extrabold condensed method-sectitle"
  >
    Un solo modo di lavorare, quello giusto.
  </p>
  <p class="is-size-3 p-3 is-size-4-mobile section-subtitle method-subtitle">
    Qualunque sia la tua visione, il metodo resta lo stesso. Cura artigianale, precisione tecnica e
    sensibilità cinematografica in ogni fase del lavoro.
  </p>
  <div class="fixed-grid has-1-cols">
    <div class="grid mb-6">{{ range site.Data.methods.items }} {{ partial "method_card" . }} {{ end }}</div>
  </div>
</section>
<section class="has-background-black mb-5">
  <div class="columns p-3">
    <div class="column">
      <p class="mt-3 is-size-5 has-text-white has-text-weight-bold">
        <i class="bi bi-lightbulb pr-3 has-text-warning"></i>
        Sviluppo
      </p>
      <p class="is-size-6 mt-3">
        Regia, fotografia, suono, ottimizzazione del set, rispetto dei tempi, riprese coordinate.
      </p>
    </div>
    <div class="column">
      <p class="mt-3 is-size-5 has-text-white has-text-weight-bold">
        <i class="bi bi-card-checklist pr-3 has-text-warning"></i>
        Preproduzione
      </p>
      <p class="is-size-6 mt-3">
        Definizione di scopo, tono e pubblico, moodboard, reference e trattamento narrativo.
      </p>
    </div>
    <div class="column">
      <p class="mt-3 is-size-5 has-text-white has-text-weight-bold">
        <i class="bi bi-camera-reels pr-3 has-text-warning"></i>
        Riprese
      </p>
      <p class="is-size-6 mt-3">
        Montaggio, sound design, color grading e versioni finali per ogni formato e piattaforma.
      </p>
    </div>
    <div class="column">
      <p class="mt-3 is-size-5 has-text-white has-text-weight-bold">
        <i class="bi bi-person-workspace pr-3 has-text-warning"></i>
        Postproduzione
      </p>
      <p class="is-size-6 mt-3">
        Ottimizzazioni per web, TV, proiezioni e diffusione con possibilità di deliverable dedicati
      </p>
    </div>
  </div>
</section>
<p class="is-size-2 has-text-centered o-50">&#10070;</p>
