<nav
  class="navbar is-fixed-top is-black is-spaced has-text-weight-extrabold"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ "" | relURL }}">
      <img src="{{ "images/logo.png" | relURL }}" alt="logo" class="logo-image" />
    </a>

    <a
      role="button"
      class="navbar-burger has-text-warning"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-text-centered">
        <a href="#noi" class="navbar-item is-size-5">Orama</a>
        <a href="#servizi" class="navbar-item is-size-5">Servizi</a>
        <a href="{{ "portfolio" | relURL }}" class="navbar-item is-size-5">Portfolio</a>
        <a href="{{ "live-streaming" | relURL }}" class="navbar-item has-background-warning has-text-black is-size-5">Streaming</a>
      </div>
    </div>
  </div>
</nav>
