{{ range .items }}
<div class="cell portfolio-card">
  <a
    class="is-size-5 has-text-white js-modal-trigger"
    data-target="playback-modal"
    data-video="{{ .video_link }}"
  >
    <!--<a href="{{ .video_link }}">-->
    <video playsinline loop muted autoplay class="portfolio-video">
      <source src="{{ .video_url | relURL }}" type="{{ .video_format }}" />
    </video>
  </a>
  <div class="portfolio-details has-background-black-bis has-text-white has-text-weight-bold p-2">
    <p class="is-size-5">
      {{ .title }}
      <a
        class="p-2 mt-1 mr-1 has-text-weight-bold has-text-black has-background-warning tag"
        style="font-size: 0.75rem"
        href="{{ .service_link | relURL }}"
        >{{ .service | default "⚬ ⚬ ⚬" }}
      </a>
    </p>
    <p class="is-size-6">{{ .subtitle | default "-" }}</p>
  </div>
</div>
<div class="modal" id="playback-modal">
  <div class="modal-background has-background-black-bis"></div>
  <div class="modal-content p-5">
    <div class="container">
      <div class="is-relative" style="padding-bottom: 56.25%; height: 0; overflow: hidden">
        <iframe
          id="playback-iframe"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
          src=""
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
{{ end }}
