<div class="columns pt-6">
  <div class="column">
    <div class="offer p-4">
      <div class="offer-title pb-3">
        <p class="is-size-2 has-text-weight-extrabold has-background-black service-name">standard</p>
      </div>
      <div class="offer-body mb-3">
        <p class="is-size-4 is-size-5-mobile has-text-white has-text-centered lh-2 mb-5">
          Il servizio standard comprende tutto il necessario per un prodotto finito e pronto per la
          diffusione.
        </p>
        {{ with .Params.products }}
          {{ with index site.Data.products (printf "%s_standard" .) }}
            {{ range . }}
              <p class="is-size-5 is-size-6-mobile">
                <i class="bi bi-check2 pr-3 has-text-warning"></i>
                {{ . }}
              </p>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="offer p-4">
      <div class="offer-title pb-3">
        <p class="is-size-1 has-text-weight-extrabold has-text-warning has-background-black service-name">
          +
        </p>
      </div>
      <div class="offer-body mb-3">
        <p class="is-size-4 is-size-5-mobile has-text-white has-text-centered lh-2 mb-5">
          Il servizio <strong class="has-text-warning pr-1 pl-1">+</strong> estende l'offerta per quei casi
          in cui le esigenze di progetto lo richiedano.
        </p>
        {{ with .Params.products }}
          {{ with index site.Data.products (printf "%s_plus" .) }}
            {{ range . }}
              <p class="is-size-5 is-size-6-mobile">
                <i class="bi bi-check2 pr-3 has-text-warning"></i>
                {{ . }}
              </p>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
