<div class="columns pt-6">
  <div class="column">
    <div class="offer p-4">
      <div class="offer-title pb-3">
        <p class="is-size-2 has-text-weight-extrabold has-background-black service-name">standard</p>
      </div>
      <div class="offer-body mb-3">
        <p class="is-size-4 is-size-5-mobile has-text-white has-text-centered lh-2 mb-5">
          Il servizio standard include tutto il necessario per una produzione completa e pronto per la
          diffusione.
        </p>
        <table>
          <tbody class="is-size-5">
            {{ with .Params.products }} {{ with index site.Data.products (printf "%s_standard" .) }} {{
            range . }}
            <tr>
              <td><i class="bi bi-check2 pr-3 has-text-success has-text-weight-bold"></i></td>
              <td>{{ . }}</td>
            </tr>
            {{ end }} {{ end }} {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="offer p-4">
      <div class="offer-title pb-3">
        <p class="is-size-1 has-text-weight-extrabold has-text-success has-background-black service-name">
          +
        </p>
      </div>
      <div class="offer-body mb-3">
        <p class="is-size-4 is-size-5-mobile has-text-white has-text-centered lh-2 mb-5">
          Il servizio <strong class="has-text-success has-text-weight-bold pr-1 pl-1">+</strong> estende il
          lavoro con integrazioni pensate per contesti ed esigenze specifiche.
        </p>
        <table>
          <tbody class="is-size-5">
            {{ with .Params.products }} {{ with index site.Data.products (printf "%s_plus" .) }} {{ range .
            }}
            <p class="is-size-5 is-size-6-mobile">
              <!--<i class="bi bi-check2 pr-3 has-text-warning"></i>-->
              <tr>
                <td><span class="pr-3 has-text-success has-text-weight-bold">+</span></td>
                <td>{{ . }}</td>
              </tr>
            </p>
            {{ end }} {{ end }} {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
