<div class="cell reel-card is-col-span-12-mobile">
  <a href="{{ .link | relURL }}">
    <img class="method-image" src="{{ printf "images/%s" .image | relURL }}"/>
  </a>
  <div class="reel-details has-text-white has-background-black-bis has-text-weight-bold">
    <a class="is-size-5 has-text-white" href="{{ .link | relURL }}">
      <!--<i class="bi bi-camera-reels pr-2 has-text-white"></i>-->
      <p >
        {{ .title }}
        <span class="tag has-background-warning has-text-black is-size-6">reel</span>
      </p>
    </a>
  </div>
</div>
