<p class="anchor" id="servizi"></p>
<section class="has-background-black">
  <p class="is-size-1 p-3 is-size-3-mobile has-text-weight-extrabold condensed is-uppercase">Servizi.</p>
  <p class="is-size-3 p-3 is-size-4-mobile mb-6 section-subtitle">
    Ci piace lavorare in contesti diversi. Che siano aziende o brand, eventi o spettacoli dal vivo, musica
    o videoclip, cinema o documentari, formazione o live streaming, uniamo identità e visione, scegliendo
    gli standard estetici e narrativi più appropriati.
  </p>
  <div class="carousel" data-interval="5000">
    <div class="carousel-inner">
      {{ range site.Data.services.items }}
      <div class="carousel-item has-text-right">
        <a href="{{ .link | relURL }}" class="is-size-3 is-size-4-mobile p-4 has-text-warning has-text-weight-bold ">
          {{ .title }}
        </a>
        <a href="{{ .link | relURL }}">
          <img src="{{ printf "images/%s" .image | relURL }}" alt="immagine prodotto" class="sat-30" />
        </a>
      </div>
      {{ end }}
    </div>
    <button class="carousel-control prev is-size-1 is-size-3-mobile has-text-weight-extrabold has-text-grey-light">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </button>
    <button class="carousel-control next is-size-1 is-size-3-mobile has-text-weight-extrabold has-text-grey-light">
      <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
    <div class="carousel-indicators"></div>
  </div>
</section>
