<p class="anchor" id="servizi"></p>
<section class="has-background-black">
  <p class="is-size-1 p-3 is-size-3-mobile has-text-weight-extrabold condensed is-uppercase">Servizi.</p>
  <p class="is-size-3 p-3 is-size-4-mobile mb-3 section-subtitle">
    Lavoriamo in ambiti diversi. Che siano eventi, spettacoli, videoclip, progetti cinematografici
    o contenuti formativi e aziendali, scegliamo ogni volta il linguaggio più adatto alla natura del progetto.
  </p>
  <div class="narrowed mt-6">
  <div class="carousel bb-grey-darker has-text-centered" data-interval="25000">
    <div class="carousel-inner">
      {{ range site.Data.services.items }}
      <div class="carousel-item has-background-black">
        <p class="bb-grey-darker service-title pt-1">
          <a href="{{ .link | relURL }}" class="is-size-5 is-size-5-mobile has-text-white has-background-grey-darker has-text-weight-bold p-5">
            {{ .title }}
          </a>
        </p>
        <a href="{{ .link | relURL }}">
          <img src="{{ printf "images/%s" .image | relURL }}" alt="immagine prodotto" class="sat-30" />
        </a>
      </div>
      {{ end }}
    </div>
    <button class="carousel-control prev is-size-1 is-size-3-mobile has-text-weight-extrabold has-text-warning">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </button>
    <button class="carousel-control next is-size-1 is-size-3-mobile has-text-weight-extrabold has-text-warning">
      <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
    <div class="carousel-indicators"></div>
  </div>
  </div>
</section>
